@import "../../vars.css";

.container {
  position: relative;

  border-radius: 15px;
  padding: 73px;
  margin-top: 129px;
  z-index: 1;
  margin-left: 7%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutImage {
  width: 35%;
  margin-right: 20%;
  animation: slideInFromLeft 1s ease-out forwards;
}


.aboutItemImg {
  width: clamp(30px, 5vw, 50px);
}

.aboutItems {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
 
}

.aboutItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
  background: rgba(134, 134, 170, 0.8);
  animation: slideInFromRight 0.5s ease-out forwards;
  opacity: 0; /* Start with opacity 0 to make items invisible before animation */
}

/* Add staggered delays for each li */
.aboutItem:nth-child(1) {
  animation-delay: 1s; /* First item starts after 0.5s */
}

.aboutItem:nth-child(2) {
  animation-delay: 1.5s; /* Second item starts after 1s */
}

.aboutItem:nth-child(3) {
  animation-delay: 2s; /* Third item starts after 1.5s */
}

/* Hover effects */
.aboutItem:hover {
  transform: translateY(-10px); /* Slight lift on hover */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); /* Stronger shadow on hover */
}


img {
    margin-right: 10%;
}

.aboutItem:hover {
  background-size: 100% 100%;
}

.aboutItem h3 {
  font-size: clamp(18px, 2.5vw, 25px);
}

.aboutItem p {
  font-size: clamp(18px, 2.5vw, 25px);
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .aboutItems {
    margin-top: 29px;
  }

  .aboutItem {
    padding-left: 0;
    padding-right: 0;
  }
}


@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes for sliding in from the right */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


