@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background: rgba(92, 67, 116, 0.8);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {

  font-weight: 700;
  letter-spacing: 4px;
  font-size: clamp(1.5rem, 4vw, 3rem);

}

.text p {
 
  font-weight: 400;
  letter-spacing: 2px;
  font-size: clamp(1.2rem, 3vw, 2rem);

}

.links {
  display: flex; /* Set the container as a flexbox */
  flex-direction: row; /* Align items horizontally */
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.link img {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: center;
  }
}