:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #a5a5bd;
    --color-secondary: #1c0bb393;
    --color-dark: #000000;
    --color-bg: #4c4e58;
  
    /* Fonts */
    --font-roboto: "Roboto"; 
  } 