:root {
    /* Colours */
    --color-text: #fff;
    --color-primary: #02021f;
    --color-secondary: #191a6d;
    --color-dark: #250b47;
    --color-bg: #555275;
  
    /* Fonts */
    --font-roboto: "Roboto"; 
  } 